[submodule "tweedledum"]
	path = tweedledum
	url = https://github.com/TheBarzani/tweedledum.git
[submodule "saha-belletti"]
	path = saha-belletti
	url = https://github.com/TheBarzani/saha-belletti.git
