# Core scientific packages
numpy
scipy
matplotlib
pandas

# Quantum computing packages
qiskit
qiskit-aer

# Jupyter support
jupyter
ipykernel
notebook

# Optimization packages
cvxpy
pylatexenc
qiskit-ibm-runtime
mthree
networkx
dotenv

# Testing
pytest

# Visualization packages
graphviz